JWT_APP_SECRET=<REDACTED>
JWT_APP_ID=jitsi
JWT_AUDIENCE=jitsi
JITSI_URL=https://go.example.ru
PORT=3301
HOST=127.0.0.1
JWT_TTL_SECONDS=3600
OIDC_USERINFO_URL=https://idp.example.ru/realms/CORP/protocol/openid-connect/userinfo
